<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <py:def function="script_tag(name)">
    <script src="${h.static('js/%s.js' % name)}"></script>
  </py:def>

  <span py:def="currency_symbols(currency)">
    <py:if test="">&ndash;</py:if>
  </span>

  <div py:def="entries_page(dataset, page)">
<!-- templates/_util.html entries_page -->
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Spender</th>
          <th>Recipient</th>
          <th class="num">Amount</th>
          <th><input py:if="defined('collect_url')" type="checkbox" name="select_all" id="select_all_entries"/></th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="entry in page">
          <td width="12%">${entry.get('time').get('name')}</td>
          <td>
            <a py:if="entry.get('from')"
              href="${h.url_for(controller='dimension', action='member',
              dataset=dataset.name, dimension='from',
              name=entry.get('from', {}).get('name'))}">${entry.get('from',
              {}).get('label')}</a></td>
          <td>
            <a py:if="entry.get('to')" 
              href="${h.url_for(controller='dimension', action='member',
              dataset=dataset.name, dimension='to',
              name=entry.get('to', {}).get('name'))}">${entry.get('to', {}).get('label')}</a></td>
          <td class="num">
            ${h.format_number_with_commas(
                entry.get('amount'))}
            ${entry.get('currency')}
          </td>
          <td>
            <input py:if="defined('collect_url')" class="select_entry" type="checkbox" name="entry_select" value="${entry['id']}" />
            <a href="${h.entry_url(dataset.name, entry)}">
              details&raquo;
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    ${page.pager()}
  </div>

  <div py:def="view_times()" class="view-panel last" py:strip="True">
<!-- templates/_util.html view_times -->
    <li py:if="c.view" class="dropdown" data-dropdown="dropdown">
      <a href="#" class="dropdown-toggle">${c.time}</a>
      <ul class="dropdown-menu">
        <py:for each="time in c.times">
          <li py:if="c.time != time">
            <a href="?_view=${c.viewstate.view.name}&amp;_time=${time}">${time}</a>
          </li>
        </py:for>
      </ul>
    </li>
  </div>

  <div py:def="collection_adder(description)" class="row">
<!-- templates/_util.html collect_entry -->
     <div class="span16">
      <py:if test="can.account.logged_in()">
            <input name="return_url" type="hidden" value="${request.path_info}" />
            <input type="submit" class="btn" value="Add ${description} to collection" />
            <select name="collection" id="collection">
              <py:choose>
                <option py:when="c.current_collection is not None" selected="selected" value="${c.current_collection.name}">
                    ${c.current_collection.label}
                </option>
                <option py:otherwise="otherwise" selected="selected" value="">
                    (select a collection)
                </option>
              </py:choose>
              <option value="-- New --">-- New collection --</option>
              <py:for each="collection in sorted(c.collections)">
                <option py:if="collection is not c.current_collection" value="${collection.name}">
                  ${collection.label}
                </option>
              </py:for>
            </select>
      </py:if>
     </div>
  </div>
</html>

